a {
  font-size: 1.75rem;
}

body {
  background-color: #1B262C;
  text-align: center;
  position: relative;
  font-family: "Work Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p {
  font-family: "Work Sans", sans-serif;
}

.big-heading {
  color: #BBE1FA;
  font-size: 5rem;
}

.big-headline {
  color: #3282B8;
  font-size: 2rem;
}

.btn-close {
  font-size: 2.5rem;
  padding: .5rem;
}

.btn-lg {
  font-size: 2rem;
}

.card {
  background-color: #3282B8;
  margin-top: 2%;
}

@media(min-width:1000px) {
  .can-hover:hover {
  transform: scale(1.1);
  z-index: 100;
  }
}

.card-date {
  color:#0F4C75;
  padding: 0;
  margin: 0;
}

.card-headline {
  color: #1B262C;
  font-size: 1.5rem;
  margin: 0;
}

.card-title {
  font-size: 1.75rem;
  color:white;
  padding:2% 0;
  margin: 0;
}

@media (max-width:700px){
  .card-title {
    font-size: 1rem;
  }

  .card-headline {
    font-size: 1rem;
  }
}

.carousel {
  height: 28rem;
}

@media (max-width:700px){
  .carousel {height: 46rem;}
}

.carousel-item {
  padding: 2% 15%;

}

.container-fluid {
  padding: 18% 4%;
}

.degree-image {
  width: 50rem;
}

@media (max-width:1000px) {
  .degree-image {
    margin-top: 20%;
  }
}

.education-section {
  background-color: #0F4C75;
}

.education-section .big-headline {
  font-size: 4rem;
}

.fa-brands, .fa-database {
  font-size: 5rem;
  color: white;
}

@media (max-width:700px) {
  .fa-brands, .fa-database {
    font-size: 3rem;
  }
}

.face-image {
  border-radius: 100%;
  width: 20rem;
  filter: grayscale();
}

.form-control {
  font-size: 1.5rem;
}

.form-label {
  font-size: 2rem;
  margin-left: 2%;
}

.footer-text {
  color: white;
  margin: 0;
  padding: .25rem 0;
}

.modal-title {
  font-size: 3rem;
}

.navbar {
  background-color: #1B262C50;
  padding: 0 5%;
}

.navbar .container-fluid {
  padding: 0;
}

.navbar-dark .navbar-brand {
  color: #3282B8;
  font-size: 5rem;
  padding: 0;
  margin: 0;
}

.navbar-nav {
  font-weight: 500;
  font-size: 1.25rem;
}

.navbar-toggler {
  padding: .5rem .75rem;
}

.navbar-toggler-icon {
  font-size: 2rem;
}

.nav-link {
  font-size: 3.5rem;
}

@media (min-width: 992px) {
  .nav-link {
    font-size: 2rem;
  }
}

.section-title {
  color:#BBE1FA;
  font-size: 3.5rem;
  padding: 2% 0;
}

.skill-label {
  color: #3282B8;
  font-size: 3rem;
}

.skills-section {
  background-color: #0F4C75;
}

.skill-text {
  font-size: 1.5rem;
  color: white;
  margin-top: 2rem;
}

.uc {
  aspect-ratio: 2200/1700;
}